<html></html> 
<h1>Log In Below:</h1>

<h1>app/POST</h1>

<h1>Registrations</h1>

get '/Registrations/signup'
do
  erb 
: '/Registrations/signup
end

{"name"=>"Beini Huang", "email"=>"beini@bee.com", "password"=>"password"}

@user = User.new(name: params["name"], email: params["email"], password: params["password"])
@user.save

